<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>HoloNight authentication acceptance</vendor>
  <action id="org.holonight.authentication.acceptance">
    <description>Run the HoloNight authentication acceptance probe</description>
    <message>Authenticate to run the HoloNight acceptance probe</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/libexec/holonight-authentication-acceptance</annotate>
  </action>
</policyconfig>
